## Data Cleaning and Preprocessing

In [44]:
# Import dependencies
import pandas as pd
import datetime
import time
from sqlalchemy import create_engine
from config import db_password

In [45]:
# Read in files
df = pd.read_csv('Resources/bitcoin_data.zip')

In [46]:
# Display initial data
df.head(10)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1325318220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1325318280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1325318340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1325318400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1325318460,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# Drop all nulls
# df = df.dropna()

In [48]:
# keep timestamp, high, low, weighted_price
df = df[['Timestamp', 'High', 'Low', 'Volume_(BTC)', 'Weighted_Price']].reset_index(drop=True)
df

          Timestamp      High       Low  Volume_(BTC)  Weighted_Price
0        1325317920      4.39      4.39      0.455581        4.390000
1        1325317980       NaN       NaN           NaN             NaN
2        1325318040       NaN       NaN           NaN             NaN
3        1325318100       NaN       NaN           NaN             NaN
4        1325318160       NaN       NaN           NaN             NaN
...             ...       ...       ...           ...             ...
4572252  1600041360  10325.89  10324.35      0.081143    10324.419779
4572253  1600041420  10331.97  10326.68      0.572817    10331.444396
4572254  1600041480  10331.47  10321.33      2.489909    10326.175283
4572255  1600041540  10334.78  10328.64      4.572660    10333.972651
4572256  1600041600  10338.82  10332.37      1.292006    10332.429402

[4572257 rows x 5 columns]

In [49]:
# preprocessing notes-- consider omitting data prior to Jan 1st, 2012 due to higher volatility 
# earlier in bitcoin's lifecycle

# converting Timestamp column to str datatype
df['str_timestamp'] = [str(timestamp) for timestamp in df['Timestamp']]
df['int_timestamp'] = df['str_timestamp'].astype('int32', copy=True)

# filtering df to only include rows after 01/01/2012
df_cleaned_filtered = df.loc[df['int_timestamp'] >= 1325391360]
df_cleaned_filtered.head(2)

,Timestamp,High,Low,Volume_(BTC),Weighted_Price,str_timestamp,int_timestamp
1224,1325391360,4.58,4.58,1.502,4.58,1325391360,1325391360
1225,1325391420,NaN,NaN,NaN,NaN,1325391420,1325391420

In [50]:
# context manager to suppress 1 time SettingWithCopyWarning; alternatively call .loc after timestamp conversion to avoid error
pd.reset_option('mode.chained_assignment')
with pd.option_context('mode.chained_assignment', None):
    df_cleaned_filtered['UTC_time'] = df_cleaned_filtered['int_timestamp'].apply(lambda x: datetime.datetime.utcfromtimestamp(x))

# .strftime('%Y-%m-%d %H:%M:%S')
    
# Convert from Unix to UTC time
#df_cleaned_filtered['UTC_time'] = df_cleaned_filtered['int_timestamp'].\
#    apply(lambda x: datetime.datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

In [51]:
# dropping all null values, followed by evaluation of which time periods had the greatest data loss
final_df = df_cleaned_filtered.dropna().reset_index(drop=True)

# finding percentage of data loss (null values)
btotalLength = (len(df_cleaned_filtered))
bpartialLength = (len(final_df))
bValuesDropped = btotalLength - bpartialLength
bitstampDiff = (btotalLength - bpartialLength) / btotalLength * 100 
totalDays = round(btotalLength/1440,2)
daysDropped = round(bValuesDropped/1440,2)

print(f"Percentage of total Bitstamp data lost due to dropping rows with NaN values: {bitstampDiff:.2f}%")
print(f"Ratio of Bitstamp rows dropped: {bValuesDropped:,}/{btotalLength:,}")
print(f"Total dataset contains {totalDays} days worth of data. Due to data loss, we had to drop {daysDropped} days worth of data")

Percentage of total Bitstamp data lost due to dropping rows with NaN values: 27.14%
Ratio of Bitstamp rows dropped: 1,240,496/4,571,033
Total dataset contains 3174.33 days worth of data. Due to data loss, we had to drop 861.46 days worth of data

In [52]:
# calculating UTC time deltas
final_df['time_delta'] = (final_df['UTC_time'] - final_df['UTC_time'].shift())

# creating mask to filter deltas
mask = final_df['time_delta'].apply(lambda x: True if x <= pd.Timedelta('0 days 00:01:00') else False)

# invert mask to create df with significant data loss
deltas_df = final_df[~mask]

In [53]:
# shows longest periods of data loss
sorted_deltas_df = deltas_df.sort_values('time_delta', ascending=False, ignore_index=False)
sorted_deltas_df

,Timestamp,High,Low,Volume_(BTC),Weighted_Price,str_timestamp,int_timestamp,UTC_time,time_delta
749103,1420837500,305.00,272.45,175.837078,287.209426,1420837500,1420837500,2015-01-09 21:05:00,4 days 11:53:00
232,1326729000,6.20,6.20,1.000000,6.200000,1326729000,1326729000,2012-01-16 15:50:00,1 days 05:20:00
323,1327176180,6.30,6.30,14.604344,6.300000,1327176180,1327176180,2012-01-21 20:03:00,1 days 04:30:00
704,1329050640,5.78,5.78,34.000000,5.780000,1329050640,1329050640,2012-02-12 12:44:00,1 days 03:04:00
1134,1330868100,4.78,4.78,34.497249,4.780000,1330868100,1330868100,2012-03-04 13:35:00,0 days 23:59:00
...,...,...,...,...,...,...,...,...,...
860951,1429944480,229.64,229.37,13.241495,229.472685,1429944480,1429944480,2015-04-25 06:48:00,0 days 00:02:00
860961,1429945260,229.65,229.65,0.500000,229.650000,1429945260,1429945260,2015-04-25 07:01:00,0 days 00:02:00
860962,1429945380,229.63,229.62,1.423760,229.621550,1429945380,1429945380,2015-04-25 07:03:00,0 days 00:02:00
3329912,1600004160,10334.03,10333.93,0.067248,10333.985261,1600004160,1600004160,2020-09-13 13:36:00,0 days 00:02:00
0,1325391360,4.58,4.58,1.502000,4.580000,1325391360,1325391360,2012-01-01 04:16:00,NaT

In [54]:
# shows periods of data loss where weighted price was highest
sorted_prices_df = deltas_df.sort_values('Weighted_Price', ascending=False, ignore_index=False)
sorted_prices_df

,Timestamp,High,Low,Volume_(BTC),Weighted_Price,str_timestamp,int_timestamp,UTC_time,time_delta
1928984,1513338780,17877.47,17850.97,14.972387,17866.239985,1513338780,1513338780,2017-12-15 11:53:00,00:03:00
1928899,1513333560,17694.01,17694.01,0.020000,17694.010000,1513333560,1513333560,2017-12-15 10:26:00,00:06:00
1929780,1513386600,17462.43,17462.43,0.018226,17462.430000,1513386600,1513386600,2017-12-16 01:10:00,00:02:00
1929782,1513386780,17483.99,17419.78,0.539684,17457.280777,1513386780,1513386780,2017-12-16 01:13:00,00:02:00
1929783,1513386960,17484.62,17410.13,7.988729,17452.267424,1513386960,1513386960,2017-12-16 01:16:00,00:03:00
...,...,...,...,...,...,...,...,...,...
857,1329567300,4.24,4.21,11.486364,4.218445,1329567300,1329567300,2012-02-18 12:15:00,00:05:00
779,1329358140,4.17,4.17,4.000000,4.170000,1329358140,1329358140,2012-02-16 02:09:00,00:18:00
858,1329582120,4.14,4.14,2.243837,4.140000,1329582120,1329582120,2012-02-18 16:22:00,04:07:00
418,1327629480,3.80,3.80,0.270000,3.800000,1327629480,1327629480,2012-01-27 01:58:00,02:55:00
498,1328036700,3.80,3.80,5.000000,3.800000,1328036700,1328036700,2012-01-31 19:05:00,00:20:00

In [55]:
# Machine learning section
# possible implementation ideas:
# 1. time series forecasting bitcoin price with ARIMA(Auto Regressive Integrated Moving Average)
# Rational for using time series: the 4 components of time series are trends, seasonality (consistent trends that span 1 calender year), noise/irregularity, and cyclicity(trends that can be observed in <1 or >1 year); this is perfect for tradeable assets 
# Qualifying criteria: the dataset must be stationary in order to more accurately fit a time series model. Stationary means that there should be a constant mean with constant std deviation or variance
# We can test if a time series is stationary by plotting the moving avg and/or movning std dev. to see if it changes over time. These results can be supported with an ADCF test
# if testing reveals our time series is NOT stationary, we can perform a variety of transformations to change it (log transform, sq rt, exponential decay etc..)
# SARIMA is ARIMA with a seasonality component.

### PGAdmin SQL Schema

In [56]:
# db schema thoughts: can create multiple tables for each currency (1 for btc, 1 ethereum, 1 xrp)
# can also add in additional tables down the line to support our analysis (table with google analytics, table with twitter search results for sentiment analysis)

In [57]:
# View final dataset column names
final_df.head(5)

,Timestamp,High,Low,Volume_(BTC),Weighted_Price,str_timestamp,int_timestamp,UTC_time,time_delta
0,1325391360,4.58,4.58,1.502000,4.58,1325391360,1325391360,2012-01-01 04:16:00,NaT
1,1325431680,4.84,4.84,10.000000,4.84,1325431680,1325431680,2012-01-01 15:28:00,11:12:00
2,1325457900,5.00,5.00,10.100000,5.00,1325457900,1325457900,2012-01-01 22:45:00,07:17:00
3,1325534640,5.00,5.00,19.048000,5.00,1325534640,1325534640,2012-01-02 20:04:00,21:19:00
4,1325591100,5.32,5.32,2.419173,5.32,1325591100,1325591100,2012-01-03 11:45:00,15:41:00

In [58]:
# Rename columns to be sql friendly
final_df.rename({'Timestamp':'timestamp',
                  'High':'high',
                  'Low':'low',
                  'Volume_(BTC)':'volume',
                  'Weighted_Price':'weightedPrice',
                  'str_timestamp':'timestampSTR',
                  'int_timestamp':'timestampINT',
                  'UTC_time':'timeUTC',
                  'time_delta':'timeDelta'
                 }, axis='columns', inplace=True)

In [59]:
# Converting timedelta to string
final_df = final_df.astype({'timeDelta':'str'})

In [60]:
# Checking datatypes
final_df.dtypes

timestamp                 int64
high                    float64
low                     float64
volume                  float64
weightedPrice           float64
timestampSTR             object
timestampINT              int32
timeUTC          datetime64[ns]
timeDelta                object
dtype: object

In [61]:
# Verifying final dataframe
final_df.head(2)

,timestamp,high,low,volume,weightedPrice,timestampSTR,timestampINT,timeUTC,timeDelta
0,1325391360,4.58,4.58,1.502,4.58,1325391360,1325391360,2012-01-01 04:16:00,NaT
1,1325431680,4.84,4.84,10.000,4.84,1325431680,1325431680,2012-01-01 15:28:00,0 days 11:12:00.000000000

In [62]:
# Setting up postgresDB
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/crypto"

In [63]:
engine = create_engine(db_string)

In [64]:
s = time.time()
final_df.to_sql(name='bitcoin', con=engine, if_exists='replace')
print(time.time() - s)

522.0788421630859